{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

---

This Helm chart is deprecated and won't be updated anymore. At the end of Q1 2021 I will remove this chart from the repo.

---

{{ template "chart.description" . }}

{{ template "chart.valuesSection" . }}
